# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
venc/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Uploaded files by user
static/uploads/*

# Environment files
.env

# Models
models/